[submodule "meta-training"]
	path = training/meta
	url = https://github.com/simplonco/meta-training
[submodule "prairie"]
	path = training/prairie
	url = https://github.com/simplonco/prairie
[submodule "challenges"]
	path = training/challenges
	url = https://github.com/simplonco/challenges
[submodule "unix-training"]
	path = training/unix
	url = https://github.com/simplonco/unix-training
[submodule "git-training"]
	path = training/git
	url = https://github.com/simplonco/git-training
[submodule "html-css-training"]
	path = training/html-css
	url = https://github.com/simplonco/html-css-training
[submodule "js-training"]
	path = training/js
	url = https://github.com/simplonco/js-training
[submodule "jquery-training"]
	path = training/jquery
	url = https://github.com/simplonco/jquery-training
[submodule "ruby-training"]
	path = training/ruby
	url = https://github.com/simplonco/ruby-training
[submodule "python-training"]
	path = training/python
	url = https://github.com/simplonco/python-training
[submodule "php-training"]
	path = training/php
	url = https://github.com/simplonco/php-training
[submodule "java-training"]
	path = training/java
	url = https://github.com/simplonco/java-training
